<ion-header>
  <ion-toolbar>
    <ion-title>Available Cars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="car-list">
    <ion-card *ngFor="let car of cars">
      <img [src]="car.image_url || 'assets/default-car.jpg'" alt="Car Image" />
      <ion-card-header>
        <ion-card-title>{{ car.make_model }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Price Per Hour:</strong> ${{ car.price_per_hour }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
